
body {
    background-image: url(../images/abstract-astro-astronomy-956999.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.surveyHeader {
    color: #f5f5f5;
    text-shadow: 7px 7px 5px #000000;
    font-size: 90px;
    cursor: default;
    margin-top: 30px;
}

h2,
h4 {
    color: #f5f5f5;
    text-shadow: 2px 2px 2px #000000;
    font-size: 28px;
    cursor: default;
}

h2 {
    font-size: 32px;
}

h6 {
    color: #FEE8A3;
    text-shadow: 3px 3px 3px #000000;
    font-size: 24px;
}

#name,
#photo {
    background: transparent;
    color: #FEE8A3;
    border: dashed 1px #FEE8A3;
    text-shadow: 2px 2px 1px #000000;
    border-width: 2px 4px;
    border-radius: 40px;
}

#friendBtn {
    background: transparent;
    color: #FEE8A3;
    border: none;
    font-size: 16px;
}

#friendBtn:hover {
    font-size: 18px;
}

.questionTitleDiv {
    text-align: center;
    width: 100%;
}

.questionDiv {
    text-align: center;
    width: 100%;
}

.questionOptionsDiv {
    width: 200px;
    margin: 0 auto;
}

/* .selectOptions {
    background-color: transparent;
    background: #FEE8A3;
    color: #f5f5f5;
} */


.footerText {
    color: #f5f5f5;
}

.footerLink {
    font-size: 16px;
    color: #FEE8A3;
    text-shadow: 1px 2px 1px #000000;
}

.footerLink:hover {
    font-size: 18px;
    color: #f5f5f5;
    text-shadow: 2px 2px 2px #000000;
    text-decoration: none;
}

#surveySubmit {
    border: dashed 1px #FEE8A3;
    color: #FEE8A3;
    text-shadow: 2px 2px 1px #000000;
    background: transparent;
    border-width: 2px 4px;
    border-radius: 40px;
}

#surveySubmit:hover {
    color: #FEE8A3;
    border: none;
    background: rgb(51, 0, 102, 0.5);
    border-width: 2px 4px;
}

.fa-angle-down,
.fa-star {
    color: #FEE8A3;
    margin-right: 3px;
}